---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: onepassword-connect
  namespace: security
spec:
  interval: 30m
  chart:
    spec:
      chart: connect
      # renovate: registryUrl=https://1password.github.io/connect-helm-charts
      version: 1.10.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: 1password-charts
        namespace: flux-system
  values:
    ingress:
      enabled: true
      labels: {}
      ingressClassName: "nginx"
      annotations:
        external-dns.alpha.kubernetes.io/target: "${SECRET_TUNNEL_ID}.cfargotunnel.com" #"ipv4.${SECRET_DOMAIN}"
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
      pathType: Prefix
      hosts:
        - host: &host "onepassword-connect.${SECRET_DOMAIN}"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
